<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>917091375089-i1t89i191b8qh2c67ne4rugg79gmg701.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917091375089-i1t89i191b8qh2c67ne4rugg79gmg701</string>
	<key>API_KEY</key>
	<string>AIzaSyB3rIw5o5eWP8krX60wV-7VoMFxe9sn0Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>917091375089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Local.Soleeklab-s-Task</string>
	<key>PROJECT_ID</key>
	<string>soleek-task</string>
	<key>STORAGE_BUCKET</key>
	<string>soleek-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917091375089:ios:4dbd63c5139715e5</string>
	<key>DATABASE_URL</key>
	<string>https://soleek-task.firebaseio.com</string>
</dict>
</plist>